.menu {
	position: absolute;
	width: 50px;
	height: 50px;
	margin: 20px;
	z-index: 1;
}

.container {
	background-color: #ffffff;
	border-radius: 100%;
	z-index: 1;
}

.expandingMenu {
	position: absolute;
	top: 0px;
	left: 20px;
	width: 600px;
	height: 50px;
	padding-left: 50px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-items: space-between;
	background-color: #ffffff;
	z-index: -1;
}

.expandingMenu::before {
	content: "";
	position: absolute;
	inset: auto 0 0 0;
	height: 5px;
	background: url('/wave-horizontal.png') top / contain repeat-x;
}

.expandingMenu::after {
	content: "";
	position: absolute;
	inset: 0 0 auto 0;
	height: 5px;
	background: url('/wave-horizontal.png') bottom / contain repeat-x;
	background-size: contain;
}

.expandedMenuStart {
	position: absolute;
	left: 0px;
	width: 50px;
	height: 50px;
	background-color: #ffffff;
	border-radius: 100%;
}

.expandedMenuEnd {
	position: absolute;
	left: clamp(80%, 580px, 600px);
	height: 50px;
	background-color: #ffffff;
	border-radius: 100%;
}

/* MAX-WIDTH: 500px */
@media all and (max-width: 500px) {
.menu {
	position: absolute;
	width: 50px;
	height: 400px;
	margin: 20px;
	z-index: 1;
}

.container {
	background-color: #ffffff;
	border-radius: 100%;
	z-index: 1;
}

.expandingMenu {
	position: absolute;
	top: 20px;
	left: 0px;
	width: 50px;
	height: 400px;
	padding-top: 50px;
	display: flex;
	flex-direction: column;
	justify-items: center;
	background-color: #ffffff;
	z-index: -1;
}

.expandingMenu::before {
	content: "";
	position: absolute;
	inset: 0 0 0 auto;
	width: 5px;
	height: 100%;
	background: url('/wave-vertical.png') left / contain repeat-y;
}

.expandingMenu::after {
	content: "";
	position: absolute;
	inset: 0 auto 0 0;
	width: 5px;
	height: 100%;
	background: url('/wave-vertical.png') right / contain repeat-y;
}

.expandedMenuStart {
	position: absolute;
	left: 0px;
	width: 50px;
	height: 50px;
	background-color: #ffffff;
	border-radius: 100%;
}

.expandedMenuEnd {
	position: absolute;
	top: clamp(80%, 380px, 400px);
	left: 0;
	width: 50px;
	height: 50px;
	background-color: #ffffff;
	border-radius: 100%;
}
}